doc/.ipynb_checkpoints/
*.snakemake*
.*.swp
src/vardict_snakemake/output
src/vardict_snakemake/ref_data
*tmp*
src/output
src/ref_data
data/simulated_data_131217/output
data/simulated_data_131217/ref_data
data/snakemake_tutorial_data_131217/output
data/snakemake_tutorial_data_131217/ref_data/
*playground*
